name: Puara-Module Arduino Example CI
on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  generate-arduino-library:
    runs-on: ubuntu-latest
    steps:
      uses: puara/actions/generate-arduino-library@main
      with:
        puara-arduino-repo-token: ${{ secrets.PUARA_ARDUINO_REPO_TOKEN }}

  lint-arduino-library:
    runs-on: ubuntu-latest
    needs: create_arduino_examples
    steps:
      uses: puara/actions/lint-arduino-library@main

  compile-arduino-library:
    runs-on: ubuntu-latest
    needs: create_arduino_examples
    steps:
      uses: puara/actions/compile-arduino-library@main

  push-arduino-library:
    runs-on: ubuntu-latest
    # only runs this when we push on main
    needs: compile
    if: github.ref == 'refs/heads/main'
    steps:
      uses: puara/actions/push-arduino-library@main
      with:
        puara-arduino-repo-token: ${{ secrets.PUARA_ARDUINO_REPO_TOKEN }}
